-#liste des clés (name, id (manure management plan zone), results, cultivation_variety, soil_nature, unit)
.intervention_bar
  =# content_tag(:i,"", class: "add_intervention_button")
  =# content_tag(:div, "Manure intervention menu".tl, class: "manure_intervention_menu")

