:ruby
    haml_io.write shape_field_tag("manure_management_plan", features_description[:georeadings], {class: :manuring_step_form,
                                                    box: {width: '70%'},
                                                    data: {
                                                    'update-url':url_for(:action => 'update_georeadings'),
                                                    'delete-url':url_for(:action => 'delete_georeadings'),
                                                    'create-url':url_for(:action => 'create_georeading'),
                                                    'update_questions':url_for(:action => 'update_questions'),
                                                     map_editor: {
                                                        customClass:'manure-map',
                                                        allowAttributesPopup: true,
                                                        view: {
                                                            center: Charta.new_geometry(features_description[:cultivable_zones]).centroid
                                                        },
                                                        show: {
                                                           series: {
                                                              cultivable_zone_serie:  features_description[:cultivable_zones],
                                                           },
                                                           layers: [
                                                             { name: :cultivable_zones,
                                                              label: :cultivable_zones.tl,
                                                              serie: :cultivable_zone_serie,
                                                              action_menu: true,
                                                              type: :simple,
                                                              fillColor: '#0A0',
                                                              popup: {url: {send: :update_from_popup_url}}
                                                             },
                                                           ]},
                                                           useFeatures: true,
                                                           defaultEditionFeaturePrefix: :cultivable_zone_prefix.tl,
                                                           overlaySelector: { editionLayer: :georeadings.tl },
                                                           defaultLabel: :unnamed.tl,
                                                           controls:{
                                                            measure: { show: false, localization: 'i18n.iso2'.t },
                                                            importers: {
                                                              formats:
                                                               []
                                                            }
                                                           }},
                                                            actionmenu: { box: {width: '30%'},customClass:'responsive-map',button: true}}
                                                           })
