:ruby
  haml_io.write shape_field_tag(
    "manure_management_plan",
    nil,
    {
      class: :manuring_result_form,

         box: {width: '100%'},
         data: {
        'get_zone_interventions-url':url_for(:action => 'get_zone_interventions'),
         map_editor: {
            customClass:'manure-map',
            view: {
                center: Charta.new_geometry(results[:cultivable_zones]).centroid
            },
            show: {
               series: {
                  cultivable_zone_serie:  results[:cultivable_zones],
               },
               layers: [
                 { name: :cultivable_zones,
                  label: :cultivable_zones.tl,
                  serie: :cultivable_zone_serie,
                  accordion: true,
                  type: :simple,
                  fillColor: '#0A0',
                  popup: [
                    {property_label: 'attributes.cultivation_variety'.t,
                    :type => :label,
                    :property_value => :cultivation_variety},
                    {property_label: 'attributes.soil_nature'.t,
                    :type => :label,
                    :property_value => :soil_nature}
                  ],
                  popup_button_ok: false,
                  popup_event: 'mouse-over'
                 }
               ]},
               disable_edition: true,
               useFeatures: true,
               defaultLabel: :unnamed.tl,
               },
               controls:{
                importers: {
                    gml: false,
                    geojson: false,
                    kml: false
                  }
                  },
               accordion: { box: {width: '100%'}, data_group: true, data_path: 'results', :data_key => ['needs']},
               intervention_menu: { box: {width: '100%'},
                                     customClass:'manure-intervention-menu',
                                     template: render('backend/manure_management_plans/intervention_menu', @manure_intervention),
                                     intervention_template: render('backend/manure_management_plans/intervention_field')}
               }},
               )