#liste des clés (name, id (manure management plan zone), results, cultivation_variety, soil_nature, unit)

-properties.each do |property_group|
  %div{:class => "manure_card hidden", :manure_id => property_group[:id]}

