.form-map
  :ruby

    haml_io.write shape_field_tag("manure_management_plan", nil, {class: :hajimari_step_form,
                                                    box: {width: '70%'},
                                                    data: {
                                                      map_editor: {
                                                        allowAttributesPopup: true,
                                                  #      :series => [:cultivable_zones, manure_feature_collection(@manure_management_plan), {}],
                                                        customClass:'manure-map',
                                                        overlaySelector: {ghostLayer: :cap_parcels.tl, editionLayer: :cultivable_zones.tl},
                                                        defaultLabel: :unnamed.tl,
                                                        defaultEditionFeaturePrefix: :cultivable_zone_prefix.tl,
                                                        showStyle: {fillOpacity: 0.7},
                                                        useFeatures: true,
                                                        multi_level: true,
                                                        controls:{
                                                          measure: { show: false, localization: 'i18n.iso2'.t },
                                                          importers: {formats: [:gml, :geojson, :kml], title: :import.tl, okText: :import.tl, cancelText: :close.tl}
                                                         }
                                                                        },
                                                            actionmenu: { box: {width: '30%'},customClass:'responsive-map'}}
                                                    })
-#
-# controller_name, nil, {class: :hajimari_step_form,
-#-#box: {width: '70%'},
-#-#                                       data: { 'compute-url':url_for(:action => 'compute'),
-#                                               'firstrun-geojson': @firstrun_geojson,
-#                                               map_editor: {
-#                                                      allowAttributesPopup: true,
-#                                                      customClass:'responsive-map',
-#                                                      overlaySelector:
-#                                                                {ghostLayer: :cap_parcels.tl,
-#                                                                 editionLayer: :cultivable_zones.tl},
-#                                                                 ghost: @parcels_geojson, defaultLabel: :unnamed.tl,
-#                                                                 defaultEditionFeaturePrefix: :cultivable_zone_prefix.tl,
-#                                                                 showStyle: {fillOpacity: 0.7},
-#                                                                 useFeatures: true,
-#                                                                 controls:{ measure: { show: true, localization: 'i18n.iso2'.t },
-#                                                                   importers: {formats: [:gml, :geojson, :kml], title: :import.tl, okText: :import.tl, cancelText: :close.tl}
-#                                                                }
-#                                                        }, actionmenu: { box: {width: '30%'},
-#                                                        customClass:'responsive-map'}}})