.form-map
  :ruby

    haml_io.write shape_field_tag("manure_management_plan", nil, {class: :hajimari_step_form,
                                                    box: {width: '70%'},
                                                    data: {
                                                      map_editor: {
                                                        allowAttributesPopup: true,
                                                        series: true,
                                                        view: :series,
                                                        show: {
                                                          :series => [{title: :cultivable_zone.tl,:data => manure_feature_collection(@manure_management_plan),:options => {center: true, :style => {:color => "#0A0"}}},
                                                                      {title: :regulatory_zone.tl,:data => regulatory_zones_feature_collection(@manure_management_plan), :options => {:style => {:color => "#A00"} }}
                                                                      ]
                                                         },
                                                        customClass:'manure-map',
                                                        overlaySelector: {editionLayer: :cultivable_zones.tl},
                                                        defaultLabel: :unnamed.tl,
                                                        defaultEditionFeaturePrefix: :cultivable_zone_prefix.tl,
                                                        showStyle: {fillOpacity: 0.7},
                                                        useFeatures: true,
                                                        multi_level: false,
                                                        controls:{
                                                          measure: { show: false, localization: 'i18n.iso2'.t },
                                                          importers: {formats: [:gml, :geojson, :kml], title: :import.tl, okText: :import.tl, cancelText: :close.tl}
                                                         }
                                                        },
                                                            actionmenu: { box: {width: '30%'},customClass:'responsive-map'}}
                                                    })
