- results = results_features(@manure_management_plan)
= form_tag({action: :compute}, class: "manure_map_form") do
  =render "backend/manure_management_plans/results_map", results: results
  = form_actions do
    = submit_tag(:validate.tl, :name => :validate)