- results = results_features(@manure_management_plan)
.manure-widgets
  #left-group.widget-group
    .map-group
      =render "backend/manure_management_plans/results_map", results: results
    =render('backend/manure_management_plans/intervention_menu')
  #right-group.widget-group
    .manure-accordion
